.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  background-color: #FFF5E1;
  color: #5D4037;
  font-weight: 600;
  background-image: url('/reset-password.jpg');
  background-size: cover;
  padding-top: 60px;
}
