.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 25px; 
}
  
.image-gallery {
  flex: 2; 
  position: relative;
  max-height: 500px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.image-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover; 
  transition: opacity 0.5s ease-in-out; 
  border: 2px solid transparent; 
  box-sizing: border-box; 
}
  
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px; 
}

.dot,
.active-dot {
  width: 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7; 
}
  
.active-dot {
  background-color: whitesmoke; 
  opacity: 1;
}

.welcome-text {
  position: relative;
  flex: 1.5; 
  padding: 20px 120px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.0;
  color: #555;
  height: 400px; 
  overflow-y: scroll; 
  border: 2px solid transparent; 
  box-sizing: border-box; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.welcome-text::before,
.welcome-text::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px; 
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  pointer-events: none; 
}

.welcome-text::before {
  left: 0;
  bottom: 0;
}

.welcome-text::after {
  right: 0;
  bottom: 0;
}

.welcome-text:active {
  cursor: grabbing; 
}

.home-moral-class p {
  text-align: center;
  font-style: italic; 
  margin: 75px auto;
  font-size: 22px; 
  color: #555; 
}

.home-moral-class p::after {
  content: ""; 
  display: block;
  width: 25%; 
  height: 1px; 
  background-color: #00BCD4;
  margin: 50px auto;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .image-gallery,
  .welcome-text {
    width: 100%;
  }
}

/* home.css */
.image-gallery {
  position: relative;
  height: 300px; /* Adjust this height as needed for your carousel */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner {
  border: 5px solid whitesmoke;
  border-top: 5px solid #00BCD4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

