.recipe-page {
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: center; /* This ensures all children including the button container are centered */
  padding-top: 25px;
  margin: 30px;
}

.recipe-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 100%; 
  padding: 0; 
  margin: auto;
}

.recipe-page-item {
  flex: 1 0 30%; 
  margin: 10px; 
  box-sizing: border-box; 
}

.centered-button-container {
  margin-top: 20px; /* Adjust as needed */
}



.centered-button-container .centered-button {
  background-color: #00BCD4; /* Teal background */
  color: #ffffff; /* White text */
}

.centered-button-container .centered-button:hover {
  background-color: #0097A7; /* Darker teal on hover */
}

/* .recipe-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    margin: 30px;
  }

  .recipe-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 100%; 
    padding: 0; 
    margin: auto;
}

.recipe-page-item {
    flex: 1 0 30%; 
    margin: 10px; 
    box-sizing: border-box; 
} */
