.recipe-page {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-top: 25px;
  margin: 30px;
}

.recipe-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 100%; 
  padding: 0; 
  margin: auto;
}

.recipe-page-item {
  flex: 1 0 30%; 
  margin: 10px; 
  box-sizing: border-box; 
}

.centered-button-container {
  margin-top: 20px; 
}

.centered-button-container .button {
  background-color: #00BCD4; 
  color: #ffffff; 
}

.centered-button-container .button:hover {
  background-color: #0097A7; 
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-message {
  margin-top: 10px; 
  color: #00BCD4;
  font-style: italic;
}

.spinner {
  border: 5px solid whitesmoke;
  border-top: 5px solid #00BCD4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
