.centered-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}





 
 /* .recipe-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    margin: 30px;
  }

  .recipe-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 100%; 
    padding: 0; 
    margin: auto;
}

.recipe-page-item {
    flex: 1 0 30%; 
    margin: 10px; 
    box-sizing: border-box; 
} */
