 .recipe-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    margin: 30px;
  }

  .recipe-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    max-width: 100%; 
    padding: 0; 
    margin: 40px;
}

.recipe-page-item {
    flex: 1 0 30%; 
    margin: 10px; 
    box-sizing: border-box; 
}
