.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 80px;
    padding-left: 75px;
    padding-right: 75px;
  }
    
  .about-image {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
    margin: 15px auto;
    display: block;
  }
  
  .about-text {
    position: relative;
    padding: 20px 120px;
    margin-right: 25px;
    margin-left: 25px;
    font-family: 'Georgia', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.0;
    color: #555;
    height: 400px; 
    overflow-y: scroll;
    border: 2px solid transparent;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: grab;
    width: 100%;
  }
  
  .about-text::before,
  .about-text::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
    pointer-events: none;
  }

  .about-text::before {
    left: 0;
    bottom: 0;
  }
  
  .about-text::after {
    right: 0;
    bottom: 0;
  }
  
  .about-text:active {
    cursor: grabbing;
  }

  .asterisk {
    text-align: center;
    font-size: 20px;
    color: #00BCD4;
  }
  