.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto; 
    padding: 20px; 
    margin-bottom: 10px; 
    padding-bottom: 250px;
} 
  
.form {
display: flex;
flex-direction: column;
align-items: center;
background-color: #F2E8D5;
padding: 40px; 
border-radius: 10px; 
box-shadow: 0 0 10px rgba(18, 15, 15, 0.2); 
}

.form::after {
    content: ""; 
    display: block;
    width: 50%; 
    height: 1px; 
    background-color: #00BCD4;
    margin: 50px auto;
    margin-bottom: 20px;
  }

.form label {
font-size: 18px;
margin-bottom: 8px;
margin-right: 20px;
color: #5D4037;
font-weight: 600;
text-align: center;
}

.form input {
margin-top: 8px;
padding: 10px;
margin-bottom: 16px;
border: 1px solid #ccc;
border-radius: 5px;
width: 100%;
}

.form button {
padding: 10px 20px;
font-size: 16px;
border: none;
cursor: pointer;
text-align: center;
background-color: #00BCD4;
color: #ffffff;
transition: background-color 0.3s ease;
margin-top: 20px;
margin-bottom: 20px; 
}

.form button:hover {
background-color: #0097A7;
}

.form button:disabled {
background-color: #cccccc;
cursor: not-allowed;
}

.custom-text {
    font-size: 25px;
    margin-bottom: 40px;
    color: #5D4037; 
    margin-top: 0;
    font-weight: 600;
  }

  .form textarea:focus {
    border-color: #00BCD4; 
    outline: none; 
  }

  .form input:focus {
    border-color: #00BCD4;
    outline: none;
  }

  .form input::placeholder,
  .form textarea::placeholder {
    font-family: 'Georgia', serif;
  }

   .alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alert {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .alert.success {
    border: 2px solid green;
    color: green;
  }
  
  .alert.error {
    border: 2px solid red;
    color: red;
  }
  
  .alert button {
    margin-left: 16px; 
  }

  .reset-password-link a,
  .visit-as-guest-link a {
  text-decoration: none;
  font-style: italic;
  color: #00BCD4;
  font-weight: 600;
}